/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: rgb(196, 246, 255);
    background: linear-gradient(0deg, rgba(196, 246, 255, 1) 0%, rgba(255, 170, 215, 1) 100%);
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrapper-first {
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 65%;
    min-width: 750px;
    border: 8px solid white;
    border-radius: 60px;
    padding: 20px;
}

.page-container {
    position: relative;
    flex: 1;
    display: flex;
    background-color: #ffd3ea;
    border-radius: 40px;
    overflow: hidden;
    height: 90vh;
}

.outline {
    position: absolute;
    inset: 25px;
    border: 4px dashed white;
    border-radius: 20px;
    pointer-events: none;
}

/* image section */

.image-logo {
    position: relative;
    overflow: hidden;
}

.image-logo>img {
    object-fit: cover;
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 30%;
    height: 150px;
    width: 100%;
    background-color: #00000054;
}

.logo>svg {
    height: 7vh;
}

.logo>p {
    font-family: "Leckerli One", sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: white;
}

/* main text section */

.main-content {
    font-family: "Fuzzy Bubbles", sans-serif;
    color: #595959;
}

.welcome-section {
    padding: 0 30px;
    margin: 100px 20px 75px 0;
    font-size: 1.3vw;
}

p>span.name {
    font-family: "Leckerli One", sans-serif;
    font-size: 1.4vw;
}

/* form */

.form-section {
    padding: 30px 50px;
    background-color: #ffe7f3c5;
}

.form-section>p {
    margin-bottom: 25px;
}

span.sign-up {
    font-size: 1.2vw;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

form div>p {
    padding-left: 20px;
    font-size: 0.7vw;
}

input,
label {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    margin-bottom: 7px;
    color: black;
}

input {
    width: 90%;
    height: 5vh;
    padding: 15px;
    margin-bottom: 7px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: #595959;
    background-color: #ffaad747;
    font-size: 22px;
    font-family: "Fuzzy Bubbles", sans-serif;
    transition: border .2s ease-in;
}


input:focus {
    outline: none;
    border: #ffffff 4px solid;
}

input::placeholder {
    color: #fffcfc;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: #f800005f;
    background-image: url(img/alert-hand-drawn-sign.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 220px;
    outline: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 80%;
    height: 50px;
    padding: 15px;
    border-radius: 20px;
    border: 3px #ff8ed3 solid;
    color: #ff8ed3;
    background-color: #ffe7f36d;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 1.2vw;
    font-weight: 900;
    transition: 0.4s ease-out;
}

button:hover {
    border: 3px #fff solid;
    color: #fff;
    background-color: #ffaad747;
    cursor: pointer;
}

.login-text {
    padding: 30px;
    font-size: 18px;
}

.log-in {
    font-weight: 700;
    color: #ff8ed3;
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

.log-in:hover {
    cursor: pointer;
    color: #595959;
    text-decoration: none;
}

.span-hidden {
    display: none;
}


@media screen and (max-width: 1400px),
(max-height: 901px) {
    .welcome-section {
        margin: 40px 6px 10px;
    }

    form {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        font-size: 1vw;
    }
    .form-section {
        padding: 30px 50px;
    }
    .form-section>p {
        margin-bottom: 10px;
    }

    input {
        font-size: 15px;
    }
    .login-text {
        display: none;
    }

    span.sign-up {
        font-size: 15px;
    }
    .span-hidden {
        display: contents;
    }

    button {
        height: 30px;
    }
}
